body {
    font-family: "Georgia", Georgia, serif;
    font-size: 12px;
}

.content {
    text-align: center;
}

.content h1 {
    font-weight: normal;
}

.slopegraph {
    display: block;
    margin: auto;
}
